= render 'shared/header'  
.body
  .mypage
    = render 'side-bar'

    .mypage__main
      %span.count 
      .mypage-tabs
        %ul.section-tabs
          %li.actives
            = link_to '取引中リスト', '#', class: 'link-non'
          %li.non-active
            = link_to '取引済みリスト',sell_users_path(current_user) , class: 'link-non' 
      .mypage-content
        %ul.content-area
          - @product.each do |product|
            %li.content-field
              = link_to  product_path(product.id), class: 'link-non' do
                .content-image
                  = image_tag "#{product.images[0].image_url}", class: 'mini-mercari-image'
                .content-text
                  .top-text
                    = product.name
                  .bottom-text
                    %span.negotiation 取引中
                .content-arrow
                  = fa_icon 'chevron-right', class: 'icon-right'        
= render 'shared/footer'   