= render 'shared/header'
- breadcrumb :seller
= render "layouts/breadcrumbs"

.body
  .mypage
    = render 'side-bar'

    .mypage__main
      %span.count 
      .mypage-tabs
        %ul.section-tabs
          %li.actives
            = link_to  '#', class: 'link-non' do
              .text 出品リスト
          %li.non-active
            = link_to sell_users_path(current_user) , class: 'link-non' do
              .text 取引済みリスト
      .mypage-content
        %ul.content-area
          - @product.each do |product|
            %li.content-field
              = link_to  product_path(product.id), class: 'link-non' do
                .content-image
                  = image_tag "#{product.images[0].image_url}", class: 'mini-mercari-image'
                .content-text
                  .top-text
                    = product.name
                  .bottom-text
                    %span.seller 出品中
                .content-arrow
                  = fa_icon 'chevron-right', class: 'icon-right'        

= render 'shared/footer'   