= render 'shared/header'
- breadcrumb :categories
= render "layouts/breadcrumbs"

.category-index
  .view-pc
    .category-top-text
      カテゴリー一覧
    .category-list
      - @categories.each_with_index do |category, i|
        .category-list-btn
          = link_to "#category#{i}", class: 'list-style' do
            .list-name 
              = category.name
    .category-list-box
      .category-list-box-white
        - @categories.each_with_index do |category, i|
          .category-list-title{id: "category#{i}"}
            .title-name
              = category.name
          .category-list-inner-box
            = link_to 'すべて', category_path(category.id), class: 'all-name'
            - category.children.each do |child|
              .category-list-child-title
                .child-name
                  = child.name
              .category-list-grandchild-box
                .category-list-grandchild-title
                  - child.children.each do |grandchild|
                    .grandchild-btn
                      = link_to category_path(grandchild.id), class: 'grandchild-link' do
                        .grandchild-name
                          = grandchild.name
        

= render 'shared/footer'  