= render 'shared/header'
- breadcrumb :show, @category
= render "layouts/breadcrumbs"
-# カテゴリの子孫要素のパンくず条件分岐
-# - if @category.children.empty?
-#   - breadcrumb :show_child, @category
-#   = render "layouts/breadcrumbs"
-# - else 
-#   - breadcrumb :show_grandchild, @category
-#   = render "layouts/breadcrumbs"

.category-show
  .category-link
    - @category.children.each do |category|
      = link_to category_path(category.id), class: 'category-list' do
        .list-name
          = category.name
    - if @category.children.empty?
      - @category.siblings.each do |siblings|
        = link_to category_path(siblings.id), class: 'category-list' do
          .list-name
            = siblings.name
 
  .category-top-text
    = "#{@category.name}の商品一覧"
  .products-content
    .product-box
      - @products.each do |product|
        = link_to product_path(product.id), class: 'product-one' do
          = image_tag product.images[0].image_url.url, class: 'product-photo-size'
          .product-name
            = product.name
            .product-price
              = "¥ #{product.price}"

  .category-bottom
    .category-bottom-text
      = @category.name
      - if @category.has_parent? then
        = @category.root.name
    .category-bottom-description-area
      .description-text
        #{@category.name}
        - if @category.has_parent? then
          = @category.root.name
        の着ない服、いらない洋服を売るならメルカリへ。#{@category.name}は
        - if @category.has_parent? then
          = @category.root.name
        の下にあるカテゴリで商品は
        = @products.length
        点あります。よく見られているカテゴリーは
        - if @category.has_children? then
          = "#{@category.children[0].name}や#{@category.children[1].name}"
        - else
          = "#{@category.siblings[0].name}や#{@category.siblings[1].name}"
        です。
        = @category.name
        の買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。

= render 'shared/footer'  