.wrapper#__next
  = render "shared/header"
  .main__container
    .main__container__sliders
      .main__container__slider
        .main__container__slider__image
        .slider-control-centerleft
          .eoeUvk
        .slider-control-centerright
          .sc-VJcYb.sc-LKuAh.dkZuVW.sc-hmXxxW.cwGzbB
        .slider-control-bottomcenter
          .style_dotsIndicator__1fZnt.common_fontFamily__3-3Si.style_center__2IkR_.style_mono__3e12j.sc-iBEsjs.fJxojC
            %span.style_active__2ihlK
      .popular__categorys
        %h2.popular__category 人気のカテゴリー
        .popular__category__lists
          %ul.popular__category__lists__unordered
          - @category.each do |category|
            %li.popular__category__list
              = link_to '#', class: "category" do
                = category[1]

      .new__product
        .ladies
          .ladies__new{name: "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY
              = "#{@category_ladies.name} 新着アイテム"
            = link_to "もっと見る", "#", class: "more_view"
          .ladies__items
            .ladies__item              
              - @product_category_ladies.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    = product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
      .new__product
        .ladies
          .ladies__new{name: "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY
              = "#{@category_mens.name} 新着アイテム"
            = link_to "もっと見る", "#", class: "more_view"
          .ladies__items
            .ladies__item              
              - @product_category_mens.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    = product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
      .new__product
        .ladies
          .ladies__new{name: "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY
              = "#{@category_kids.name} 新着アイテム"
            = link_to "もっと見る", "#", class: "more_view"
          .ladies__items
            .ladies__item              
              - @product_category_kids.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    = product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
      .new__product
        .ladies
          .ladies__new{name: "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY
              = "#{@category_interior.name} 新着アイテム"
            = link_to "もっと見る", "#", class: "more_view"
          .ladies__items
            .ladies__item              
              - @product_category_interior.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    =product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
      .new__product
        .ladies
          .ladies__new{name: "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY
              = "#{@category_toy.name} 新着アイテム"
            = link_to "もっと見る", "#", class: "more_view"
          .ladies__items
            .ladies__item              
              - @product_category_toy.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    = product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
          
      .popular__brands
        %h2.popular__brand 新着アイテム
      .new__product
        .chanel
          .chanel__new{name: "scroll-658"}
            -# %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY シャネル新着アイテム
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY 新着アイテム
            = link_to "もっと見る", "#", class: "more_view"
          .chanel__items
            .chanel__item
              - @product.each do |product|
                .product
                  =link_to product_path(product.id), class: "style_link" do
                    = image_tag product.images[0].image_url.url
                  .name
                    = product.name
                  .price
                    = "¥ " + product.price.to_i.to_s(:delimited)
                  -if product.buyer == "1"
                    .items-box_photo__sold
                      .items-box_photo__sold__inner 
                        SOLD
                  -elsif product.buyer == "2" 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD

  = render 'shared/footer'