= link_to '購入内容の確認ページ', buy_products_path
= link_to '商品の情報を入力ページ', new_product_path
%br/
= link_to 'S3導入、動作確認ページ', image_tests_path

.wrapper#__next
  = render 'shared/header'

  .main__container
    .main__container__sliders
      .main__container__slider
        .main__container__slider__image
        .slider-control-centerleft{:style => "position:absolute;top:50%;left:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)"}
          .eoeUvk
        .slider-control-centerright{:style => "position:absolute;top:50%;right:0;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)"}
          .sc-VJcYb.sc-LKuAh.dkZuVW.sc-hmXxxW.cwGzbB
        .slider-control-bottomcenter{:style => "position:absolute;bottom:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%)"}
          .style_dotsIndicator__1fZnt.common_fontFamily__3-3Si.style_center__2IkR_.style_mono__3e12j.sc-iBEsjs.fJxojC
            %span.style_active__2ihlK
      .popular__categorys
        %h2.popular__category 人気のカテゴリー
        .popular__category__lists
          %ul.popular__category__lists__unordered
            %li.popular__category__list
              %a.category レディース
            %li.popular__category__list
              %a.category メンズ
            %li.popular__category__list
              %a.category 家電・スマホ・カメラ
            %li.popular__category__list
              %a.category おもちゃ・ホビー・グッズ
      .new__product
        .ladies
          .ladies__new{:name => "scroll-1"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY レディース新着アイテム
            %a.more_view{:href => "/jp/category/1/"} もっと見る
          .ladies__items
            .ladies__item
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m85601789056/"}
                  %img{:alt => "Thumbnail of \"ZARA  ミモレ丈 スカート\"", :src => "https://static.mercdn.net/thumb/photos/m85601789056_1.jpg?1569246787"}/
                .name
                  ZARA  ミモレ丈 スカート
                .price
                  ¥3,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m82940365700/"}
                  %img{:alt => "Thumbnail of \"ブーツ 黒 ライチ レザー エナメル\"", :src => "https://static.mercdn.net/thumb/photos/m82940365700_1.jpg?1557230019"}/
                .name
                  ブーツ 黒 ライチ レザー エナメル
                .price
                  ¥10,600

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m80251945882/"}
                  %img{:alt => "Thumbnail of \"ビルケンシュトック サンダル ドクターマーチン\"", :src => "https://static.mercdn.net/thumb/photos/m80251945882_1.jpg?1570356770"}/
                .name
                  ビルケンシュトック サンダル ドクターマーチン
                .price
                  ¥2,250

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m13055202221/"}
                  %img{:alt => "Thumbnail of \"女性用フード付きスポーツウェア\"", :src => "https://static.mercdn.net/thumb/photos/m13055202221_1.jpg?1570103695"}/
                .name
                  女性用フード付きスポーツウェア
                .price
                  ¥780

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m98543324609/"}
                  %img{:alt => "Thumbnail of \"総レース ドレス  結婚式 二次会\"", :src => "https://static.mercdn.net/thumb/photos/m98543324609_1.jpg?1570198062"}/
                .name
                  総レース ドレス  結婚式 二次会
                .price
                  ¥6,999

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m94226529481/"}
                  %img{:alt => "Thumbnail of \"ADORE フラワープリントプリーツスカート\"", :src => "https://static.mercdn.net/thumb/photos/m94226529481_1.jpg?1570224098"}/
                .name
                  ADORE フラワープリントプリーツスカート
                .price
                  ¥28,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m93762420364/"}
                  %img{:alt => "Thumbnail of \"ガウチョパンツ ストライプ ワイドパンツ\"", :src => "https://static.mercdn.net/thumb/photos/m76202509766_1.jpg?1570508330"}/
                .name
                  ガウチョパンツ ストライプ ワイドパンツ
                .price
                  ¥1,200

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m93390523219/"}
                  %img{:alt => "Thumbnail of \"ナイキ  エアフォース 1   24cm 新品\"", :src => "https://static.mercdn.net/thumb/photos/m93390523219_1.jpg?1563629330"}/
                .name
                  ナイキ  エアフォース 1   24cm 新品
                .price
                  ¥9,900

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m66778255449/"}
                  %img{:alt => "Thumbnail of \"ジャケット\"", :src => "https://static.mercdn.net/thumb/photos/m66778255449_1.jpg?1541423589"}/
                .name
                  ジャケット
                .price
                  ¥1,300

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m65307440299/"}
                  %img{:alt => "Thumbnail of \"ジャスグリッティー ケーブル柄プルオーバー\"", :src => "https://static.mercdn.net/thumb/photos/m65307440299_1.jpg?1570345708"}/
                .name
                  ジャスグリッティー ケーブル柄プルオーバー
                .price
                  ¥3,999
                  
        .mans
          .mans__new{:name => "scroll-2"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY メンズ新着アイテム
            %a.more_view{:href => "/jp/category/2/"} もっと見る
          .mans__items
            .mans__item
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m99863576270/"}
                  %img{:alt => "Thumbnail of \"期間限定価格 anything エニシング シャツ\"", :src => "https://static.mercdn.net/thumb/photos/m99863576270_1.jpg?1570180439"}/
                .name
                  期間限定価格 anything エニシング シャツ
                .price
                  ¥9,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m80008950143/"}
                  %img{:alt => "Thumbnail of \"GARY LINDEN リング\"", :src => "https://static.mercdn.net/thumb/photos/m80008950143_1.jpg?1564673286"}/
                .name
                  GARY LINDEN リング
                .price
                  ¥4,200

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m24491610482/"}
                  %img{:alt => "Thumbnail of \"トミーヒルフィガー  ハーフジップ フリース\"", :src => "https://static.mercdn.net/thumb/photos/m24491610482_1.jpg?1570096710"}/
                .name
                  トミーヒルフィガー  ハーフジップ フリース
                .price
                  ¥4,900

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m46841814774/"}
                  %img{:alt => "Thumbnail of \"定価4.2万円　ジェルマーノ / Beams F ブラックデニム2Pスラックス\"", :src => "https://static.mercdn.net/thumb/photos/m46841814774_1.jpg?1570357595"}/
                .name
                  定価4.2万円　ジェルマーノ / Beams F ブラックデニム2Pスラックス
                .price
                  ¥6,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m44561757213/"}
                  %img{:alt => "Thumbnail of \"Tシャツ 　LUZ\"", :src => "https://static.mercdn.net/thumb/photos/m44561757213_1.jpg?1569847672"}/
                .name
                  Tシャツ 　LUZ
                .price
                  ¥2,100

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m42720480602/"}
                  %img{:alt => "Thumbnail of \"大幅値下げ⬇︎ 大人気 INDEPENDENT ロンT 美品 ⭐️送料無料⭐️\"", :src => "https://static.mercdn.net/thumb/photos/m42720480602_1.jpg?1567641370"}/
                .name
                  大幅値下げ⬇︎ 大人気 INDEPENDENT ロンT 美品 ⭐️送料無料⭐️
                .price
                  ¥6,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m14037534926/"}
                  %img{:alt => "Thumbnail of \"[売り切れ寸前] ジーンズ スキニーパンツ デニム ダメージ インポート\"", :src => "https://static.mercdn.net/thumb/photos/m14037534926_1.jpg?1570357807"}/
                .name
                  [売り切れ寸前] ジーンズ スキニーパンツ デニム ダメージ インポート
                .price
                  ¥1,999

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m96335297411/"}
                  %img{:alt => "Thumbnail of \"new balanceセットアップ　　メンズＬ　黒\"", :src => "https://static.mercdn.net/thumb/photos/m96335297411_1.jpg?1570357806"}/
                .name
                  new balanceセットアップ　　メンズＬ　黒
                .price
                  ¥3,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m95563363045/"}
                  %img{:alt => "Thumbnail of \"オーストリッチ ハンドバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m95563363045_1.jpg?1569314186"}/
                .name
                  オーストリッチ ハンドバッグ
                .price
                  ¥4,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m70986922360/"}
                  %img{:alt => "Thumbnail of \"mnml スキニーデニム\"", :src => "https://static.mercdn.net/thumb/photos/m70986922360_1.jpg?1568760584"}/
                .name
                  mnml スキニーデニム
                .price
                  ¥8,800

      .popular__brands
        %h2.popular__brand 人気のブランド
        .popular__brand__lists
          %ul.popular__brand__lists__unordered
            %li.popular__brand__list
              %a.category シャネル
            %li.popular__brand__list
              %a.category ルイヴィトン
            %li.popular__brand__list
              %a.category シュプリーム
            %li.popular__brand__list
              %a.category ナイキ
      .new__product
        .chanel
          .chanel__new{:name => "scroll-658"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY シャネル新着アイテム
            %a.more_view{:href => "/jp/brand/658/"} もっと見る
          .chanel__items
            .chanel__item
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m29853900429/"}
                  %img{:alt => "Thumbnail of \"シャネル ブラック Tシャツ レア\"", :src => "https://static.mercdn.net/thumb/photos/m29853900429_1.jpg?1570357803"}/
                .name
                  シャネル ブラック Tシャツ レア
                .price
                  ¥28,800

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m76433431829/"}
                  %img{:alt => "Thumbnail of \"CHANEL&MACコスメおまとめ大特価チャンス❗\"", :src => "https://static.mercdn.net/thumb/photos/m76433431829_1.jpg?1569545695"}/
                .name
                  CHANEL&amp;MACコスメおまとめ大特価チャンス❗
                .price
                  ¥3,333

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m19710936152/"}
                  %img{:alt => "Thumbnail of \"CHANELシャネル♡長財布♡シンボルチャーム♡カメリア♡ココマーク♡ブラック黒\"", :src => "https://static.mercdn.net/thumb/photos/m19710936152_1.jpg?1566648252"}/
                .name
                  CHANELシャネル♡長財布♡シンボルチャーム♡カメリア♡ココマーク♡ブラック黒
                .price
                  ¥26,800
                
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m79914593146/"}
                  %img{:alt => "Thumbnail of \"☆美品☆CHANEL シャネル ルミエール\"", :src => "https://static.mercdn.net/thumb/photos/m79914593146_1.jpg?1570327496"}/
                .name
                  ☆美品☆CHANEL シャネル ルミエール
                .price
                  ¥4,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m52057641880/"}
                  %img{:alt => "Thumbnail of \"CHANEL№19\"", :src => "https://static.mercdn.net/thumb/photos/m52057641880_1.jpg?1570357778"}/
                .name
                  CHANEL№19
                .price
                  ¥2,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m32327275364/"}
                  %img{:alt => "Thumbnail of \"【レア❗️】シャネル CHANEL イヤリング ヴィンテージ 両耳\"", :src => "https://static.mercdn.net/thumb/photos/m32327275364_1.jpg?1568651073"}/
                .name
                  レア❗️】シャネル CHANEL イヤリング ヴィンテージ 両耳
                .price
                  ¥31,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m91510032498/"}
                  %img{:alt => "Thumbnail of \"CHANEL シャネル アイシャドウ\"", :src => "https://static.mercdn.net/thumb/photos/m91510032498_1.jpg?1570357764"}/
                .name
                  CHANEL シャネル アイシャドウ
                .price
                  ¥999

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m64319270244/"}
                  %img{:alt => "Thumbnail of \"ルージュ ココ フラッシュ 92 アムール ドゥ シャネル 3g\"", :src => "https://static.mercdn.net/thumb/photos/m64319270244_1.jpg?1570357760"}/
                .name
                  ルージュ ココ フラッシュ 92 アムール ドゥ シャネル 3g
                .price
                  ¥3,999

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m42166852543/"}
                  %img{:alt => "Thumbnail of \"【レア❗️】シャネル CHANEL イヤリング ヴィンテージ 両耳\"", :src => "https://static.mercdn.net/thumb/photos/m42166852543_1.jpg?1568651038"}/
                .name
                  【レア❗️】シャネル CHANEL イヤリング ヴィンテージ 両耳
                .price
                  ¥31,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m22079641484/"}
                  %img{:alt => "Thumbnail of \"CHANEL シャネルトラベル メイクアップパレット #ハーモニー ドゥカメリア\"", :src => "https://static.mercdn.net/thumb/photos/m22079641484_1.jpg?1570357751"}/
                .name
                  CHANEL シャネルトラベル メイクアップパレット #ハーモニー ドゥカメリア
                .price
                  ¥8,000

        .LouisVuitton
          .LouisVuitton__new{:name => "scroll-1326"}
            %h3.style_heading.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-chbbiW.kHlukY ルイヴィトン新着アイテム
            %a.more_view{:href => "/jp/brand/1326/"} もっと見る
          .LouisVuitton__items
            .LouisVuitton__item
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m99130071336/"}
                  %img{:alt => "Thumbnail of \"レア！ 廃番モデル ルイヴィトン モノグラム エンボス ブラック 三つ折り財布\"", :src => "https://static.mercdn.net/thumb/photos/m99130071336_1.jpg?1570196144"}/
                .name
                  レア！ 廃番モデル ルイヴィトン モノグラム エンボス ブラック 三つ折り財布
                .price
                  ¥6,500

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m88344415475/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン♡ポムダムール♡ヴェルニ♡エナメル♡レッド赤♡ハンドバッグ♡トート♡\"", :src => "https://static.mercdn.net/thumb/photos/m88344415475_1.jpg?1566647583"}/
                .name
                  ルイヴィトン♡ポムダムール♡ヴェルニ♡エナメル♡レッド赤♡ハンドバッグ♡トート♡
                .price
                  ¥64,800

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m82887071999/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトンモノグラムポーチ\"", :src => "https://static.mercdn.net/thumb/photos/m82887071999_1.jpg?1570357774"}/
                .name
                  ルイヴィトンモノグラムポーチ
                .price
                  ¥9,999

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m45696366710/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン♡ダミエ♡長財布♡男女兼用OK♡\"", :src => "https://static.mercdn.net/thumb/photos/m45696366710_1.jpg?1567918217"}/
                .name
                  ルイヴィトン♡ダミエ♡長財布♡男女兼用OK♡
                .price
                  ¥15,100

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m56915476067/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン アストロピル キーホルダーモノグラム\"", :src => "https://static.mercdn.net/thumb/photos/m56915476067_1.jpg?1568594777"}/
                .name
                  ルイヴィトン アストロピル キーホルダーモノグラム
                .price
                  ¥3,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m57246203509/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン　パンダンティフ　ネックレス　Q93125\"", :src => "https://static.mercdn.net/thumb/photos/m57246203509_1.jpg?1570357759"}/
                .name
                  ルイヴィトン　パンダンティフ　ネックレス　Q93125
                .price
                  ¥110,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m81542333740/"}
                  %img{:alt => "Thumbnail of \"【超美品】ルイヴィトン  ヴィヴァシテ  茶  赤  モノグラム  バッグ 人気\"", :src => "https://static.mercdn.net/thumb/photos/m81542333740_1.jpg?1567169765"}/
                .name
                  【超美品】ルイヴィトン  ヴィヴァシテ  茶  赤  モノグラム  バッグ 人気
                .price
                  ¥59,200

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m16288922756/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン モノグラム エトワール 長財布\"", :src => "https://static.mercdn.net/thumb/photos/m16288922756_1.jpg?1570357723"}/
                .name
                  ルイヴィトン モノグラム エトワール 長財布
                .price
                  ¥35,000

              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m48949596190/"}
                  %img{:alt => "Thumbnail of \"送料無料♪ルイヴィトン＊ヴェルニ＊クリーム\"", :src => "https://static.mercdn.net/thumb/photos/m48949596190_1.jpg?1570357700"}/
                .name
                  送料無料♪ルイヴィトン＊ヴェルニ＊クリーム
                .price
                  ¥5,500
              .product
                %a.style_link{:href => "https://item.mercari.com/jp/m68300817432/"}
                  %img{:alt => "Thumbnail of \"ルイヴィトン 長財布 モノグラム\"", :src => "https://static.mercdn.net/thumb/photos/m68300817432_1.jpg?1570357699"}/
                .name
                  ルイヴィトン 長財布 モノグラム
                .price
                  ¥7,000

  = render 'shared/footer'