.wrapper#__next
  = render 'shared/header'

  %section.item-box-container.l-single-container
    %h1.item-name
      = @product.name
    .item-main-content.clearfix
      .item-photo
        = image_tag "#{@product.images[0].image_url}", alt: 'image', style: "opacity: 1;", class: 'top-photo' 
        .sub-photos
          - @images.each do |image|
            = image_tag "#{image.image_url}", alt: 'image', style: "opacity: 1;", class: 'sub-photo'
          -if @product.buyer == "1"  
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
          -elsif @product.buyer == "2"
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
      %section.visible-sp
        .item-btn-float-area
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = @product.user.nickname
              -# %div
              -#   .item-user-ratings
              -#     %i.far.fa-smile
              -#     %span 656
              -#   .item-user-ratings
              -#     %i.far.fa-meh
              -#     %span 13
              -#   .item-user-ratings
              -#     %i.far.fa-frown
              -#     %span 5
          %tr
            %th カテゴリー
            %td
              = link_to '#' do
                %div 
                  = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to '#' do
                %div
                  = @product.brand.name
          %tr
            %th 商品の状態
            %td 
              = @product.status.name
          %tr
            %th 配送料の負担
            %td 
              = @product.delivery_fee
          %tr
            %th 配送の方法
            %td 
              = @product.delivery
          %tr
            %th 配送元地域
            %td
              = link_to '#' do
                = @product.shipping_area
          %tr
            %th 発送日の目安
            %td 
              = @product.shipping_days
    .item-price-box.text-center
      %span.item-price.bold 
        = "¥ " + @product.price.to_i.to_s(:delimited)
      %span.item-tax (税込)
      %span.item-shipping-fee 
        = @product.delivery_fee
    - unless user_signed_in? 
      =link_to 'ログイン画面に進む',user_session_path, class: "item-buy-btn"  
    - else
      - if @product.saller_id != current_user.id and @product.buyer == "1" and @product.buyer_id == current_user.id
        = link_to '購入を取り消す', product_products_url(@product.id), class: "item-buy-btn"

      - elsif @product.buyer == "2" and @product.buyer_id == current_user.id and @product.saller_id != current_user.id 
        .item-buy-btns
          取引成立
      
      - elsif @product.buyer == "2" and @product.buyer_id != current_user.id and @product.saller_id == current_user.id 
        .item-buy-btns
          商品発送中

      - elsif@product.saller_id != current_user.id and @product.buyer != "1" and @product.buyer != "2"
        =link_to '購入画面に進む', city_products_path(@product.id), class: "item-buy-btn"  
      
      - elsif  @product.saller_id  == current_user.id and @product.buyer != "1" and @product.buyer != "2"
        = link_to '出品を取り消す', destroy_products_path(@product.id), class: "item-buy-btn"
        = link_to '商品情報を編集する', edit_product_path(@product.id), class: "item-buy-btn"
    
      - elsif @product.buyer == "1" and @product.saller_id == current_user.id 
        = link_to '発送する', shipping_products_path(@product.id), class: "item-buy-btn"
        
    
      - elsif  @product.saller_id  != current_user.id and @product.buyer == "1" and @product.buyer_id != current_user.id
        .item-buy-btns
          取引停止中
      
      - elsif  @product.saller_id  != current_user.id and @product.buyer == "2" and @product.buyer_id != current_user.id
        .item-buy-btns
          取引停止中
    .item-description.f14
      %p.item-description-inner
        = @product.description
    -# .item-button-container.clearfix
    -#   .item-button-left
    -#     = link_to '#', class: "item-button item-button-like" do
    -#       %i.far.fa-heart
    -#       %span いいね!
    -#       %span{"data-num": "like"} 
    -#     = link_to '#', class: "item-button item-button-report clearfix" do
    -#       %i.far.fa-flag
    -#       %span 不適切な商品の報告
    -#   .item-button-right
    -#     = link_to '#' do
    -#       %i.fas.fa-lock
    -#       %span あんしん・あんぜんへの取り組み
-if user_signed_in? 
  .item-detail-message

    .message-container
      %ul.message-items
        -@comment.each do |comment|
          %li.clearfixs
            %div
              .profile-image
                - if comment.user.avator.blank?
                  = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", class: 'user-icon'
                - else 
                  = image_tag "#{comment.user.avator}", class: 'user-icon'  
              %figcaption.bold
                = comment.user.nickname + "さん"
            .message-body
              .message-body-text 
                = comment.comment
    .message-content
      = form_for [@message], url: product_comments_path(@product.id) do |f|
        %form.message-form
          = f.text_area :comment, class: "textarea-default", type: "text"
          = f.submit  class: "btn-default", value: "コメントする"
 
  .items-in-user-profile
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        = @product.user.nickname + 'さんのその他の出品'
      .items-box-content.clearfix
        -@user.each do |user|
          %section.items-box
            =link_to product_path(user.id) do
              %figure.items-box-photo
                = image_tag user.images[0].image_url.url , class: 'lazyloaded'
              .items-box-body
                %h3.items-box-name.font-2 
                  = user.name
                .items-box-num
                  .items-box-price.font-5 
                    = "¥" + user.price.to_i.to_s(:delimited)
    %section.items-box-container.clearfix.related-item-column
      %h2.items-box-head
        = link_to '#' do
          =@product.category.name + "のその他の商品"
      .items-box-content.clearfix
        -@category.each do |category|
          %section.items-box
            =link_to product_path(category.id) do
              %figure.items-box-photo
                = image_tag category.images[0].image_url.url , class: 'lazyloaded'
              .items-box-body
                %h3.items-box-name.font-2 
                  = category.name
                .items-box-num
                  .items-box-price.font-5 
                    = "¥" + category.price.to_i.to_s(:delimited)
                  .font-2
                    %i.far.fa-heart
                    %span 4
  
  - breadcrumb :product, @product
  = render "layouts/breadcrumbs"
  
  = render 'shared/footer'