.wrapper#__next
  = render 'shared/header'

  %section.item-box-container.l-single-container
    %h1.item-name
      = @product.name
    .item-main-content.clearfix
      .item-photo
        = image_tag "#{@product.images[0].image_url}", alt: 'image', style: "opacity: 1;", class: 'top-photo' 
        .sub-photos
          - @images.each do |image|
            = image_tag "#{image.image_url}", alt: 'image', style: "opacity: 1;", class: 'sub-photo'
          -if @product.buyer == "1"  
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
          -elsif @product.buyer == "2"
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
      %section.visible-sp
        .item-btn-float-area
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = @product.user.nickname
              %div
                .item-user-ratings
                  %i.far.fa-smile
                  %span 656
                .item-user-ratings
                  %i.far.fa-meh
                  %span 13
                .item-user-ratings
                  %i.far.fa-frown
                  %span 5
          %tr
            %th カテゴリー
            %td
              = link_to '#' do
                %div 
                  = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to '#' do
                %div
                  = @product.brand.name
          %tr
            %th 商品の状態
            %td 
              = @product.status.name
          %tr
            %th 配送料の負担
            %td 
              = @product.delivery_fee
          %tr
            %th 配送の方法
            %td 
              = @product.delivery
          %tr
            %th 配送元地域
            %td
              = link_to '#' do
                = @product.shipping_area
          %tr
            %th 発送日の目安
            %td 
              = @product.shipping_days
    .item-price-box.text-center
      %span.item-price.bold 
        = "¥ " + @product.price
      %span.item-tax (税込)
      %span.item-shipping-fee 
        = @product.delivery_fee
    - unless user_signed_in? 
      =link_to 'ログイン画面に進む',user_session_path, class: "item-buy-btn"  
    - else
      - if @product.saller_id != current_user.id and @product.buyer == "1" and @product.buyer_id == current_user.id
        = link_to '購入を取り消す', product_products_url(@product.id), class: "item-buy-btn"

      - elsif @product.buyer == "2" and @product.buyer_id == current_user.id and @product.saller_id != current_user.id 
        .item-buy-btns
          取引成立
      
      - elsif @product.buyer == "2" and @product.buyer_id != current_user.id and @product.saller_id == current_user.id 
        .item-buy-btns
          商品発送中

      - elsif@product.saller_id != current_user.id and @product.buyer != "1" and @product.buyer != "2"
        =link_to '購入画面に進む', city_products_path(@product.id), class: "item-buy-btn"  
      
      - elsif  @product.saller_id  == current_user.id and @product.buyer != "1" and @product.buyer != "2"
        = link_to '出品を取り消す', destroy_products_path(@product.id), class: "item-buy-btn"
        = link_to '商品情報を編集する', edit_product_path(@product.id), class: "item-buy-btn"
    
      - elsif @product.buyer == "1" and @product.saller_id == current_user.id 
        = link_to '発送する', shipping_products_path(@product.id), class: "item-buy-btn"
        
    
      - elsif  @product.saller_id  != current_user.id and @product.buyer == "1" and @product.buyer_id != current_user.id
        .item-buy-btns
          取引停止中
      
      - elsif  @product.saller_id  != current_user.id and @product.buyer == "2" and @product.buyer_id != current_user.id
        .item-buy-btns
          取引停止中
    .item-description.f14
      %p.item-description-inner
        = @product.description
    .item-button-container.clearfix
      .item-button-left
        = link_to '#', class: "item-button item-button-like" do
          %i.far.fa-heart
          %span いいね!
          %span{"data-num": "like"} 11
        = link_to '#', class: "item-button item-button-report clearfix" do
          %i.far.fa-flag
          %span 不適切な商品の報告
      .item-button-right
        = link_to '#' do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
-if user_signed_in? 
  .item-detail-message

    .message-container
      %ul.message-items
        -@comment.each do |comment|
          %li.clearfixs
            %div
              .profile-image
                - if @product.user.avator.blank?
                  = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", class: 'user-icon'
                - else 
                  = image_tag "#{@product.user.avator}", class: 'user-icon'  
              %figcaption.bold
                = comment.user.nickname + "さん"
            .message-body
              .message-body-text 
                = comment.comment
    .message-content
      = form_for [@message], url: product_comments_path(@product.id) do |f|
        %form.message-form
          = f.text_area :comment, class: "textarea-default", type: "text"
          = f.submit  class: "btn-default", value: "コメントする"
  -# 下記今後参考用！！
  -# .item-social-media-box
  -#   .text -center
  -#     .fb-save.fb_iframe_widget{"data-uri": "product://113299479059860/m91592311337", "fb-iframe-plugin-query": "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm91592311337", "fb-xfbml-state": "rendered"}
  -#       %span{style: "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
  -#         %iframe{allow: "encrypted-media", allowfullscreen: "true", allowtransparency: "true", frameborder: "0", height: "1000px", name: "f2b1591b1b517fc", scrolling: "no", src: "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2ff81f412fba44%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ff1358d9311a614%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm91592311337", style: "border: none; visibility: visible; width: 0px; height: 0px;", title: "fb:save Facebook Social Plugin", width: "1000px"}
    -# %ul.social-media-box
    -#   %li
    -#     -# 下記コメント今後参考用
    -#     -# %a.share-btn{"data-window-name": "facebook_window", href: "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm91592311337%2F"}
    -#     = link_to '#' do
    -#       %i.fab.fa-facebook-square
    -#   %li
    -#     -# 下記コメント今後参考用
    -#     -# %a.share-btn{"data-window-name": "twitter_window", href: "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm91592311337%2F&text=FENDI%20%E3%83%95%E3%82%A7%E3%83%B3%E3%83%87%E3%82%A3%2F%E9%95%B7%E2%80%A6%20%28%C2%A55%2C800%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm91592311337%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89"}
    -#     = link_to '#' do
    -#       %i.fab.fa-twitter-square
    -#   %li.social-hidden-item
    -#     -# 下記コメント今後参考用
    -#     -# %a{:href => "http://line.me/R/msg/text/?FENDI フェンディ/長財布/モンスター/レザー/グレー系/あ224%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://item.mercari.com/jp/m91592311337/"}
    -#     = link_to '#' do
    -#       %i.fab.fa-line
    -#   %li
    -#     -# 下記コメント今後参考用
    -#     -# %a.share-btn{"data-window-name": "pinterest_window", href: "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm91592311337%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm91592311337_1.jpg%3F1567487513&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20FENDI%20%E3%83%95%E3%82%A7%E3%83%B3%E3%83%87%E3%82%A3%2F%E9%95%B7%E8%B2%A1%E5%B8%83%2F%E3%83%A2%E3%83%B3%E3%82%B9%E3%82%BF%E3%83%BC%2F%E3%83%AC%E3%82%B6%E3%83%BC%2F%E3%82%B0%E3%83%AC%E3%83%BC%E7%B3%BB%2F%E3%81%82224%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA"}
    -#     = link_to '#' do
    -#       %i.fab.fa-pinterest
  .items-in-user-profile
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        = @product.user.nickname + 'さんのその他の出品'
      .items-box-content.clearfix
        -@user.each do |user|
          %section.items-box
            =link_to product_path(user.id) do
              %figure.items-box-photo
                = image_tag user.images[0].image_url.url , class: 'lazyloaded'
              .items-box-body
                %h3.items-box-name.font-2 
                  = user.name
                .items-box-num
                  .items-box-price.font-5 
                    = "¥" + user.price
    %section.items-box-container.clearfix.related-item-column
      %h2.items-box-head
        = link_to '#' do
          =@product.category.name + "のその他の商品"
      .items-box-content.clearfix
        -@category.each do |category|
          %section.items-box
            =link_to product_path(category.id) do
              %figure.items-box-photo
                = image_tag category.images[0].image_url.url , class: 'lazyloaded'
              .items-box-body
                %h3.items-box-name.font-2 
                  = category.name
                .items-box-num
                  .items-box-price.font-5 
                    = "¥" + category.price
                  .font-2
                    %i.far.fa-heart
                    %span 4
  %nav.bread-crumbs.pos-bottom
    %ul
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        %a{href: "#", itemprop: "url"}
          %span{itemprop: "title"} メルカリ
        %i.fas.fa-chevron-right
      %li{itemscope: "", itemtype: "#"}
        %span{itemprop: "title"} FENDI フェンディ/長財布/モンスター/レザー/グレー系/あ224
  -# ここまで
  
  = render 'shared/footer'